* {
  padding: 0;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image:linear-gradient(rgba(0, 0, 0, 0.728),rgba(0, 0, 0, 0.728)), url(../img/mikhail-pavstyuk-EKy2OTRPXdw-unsplash.jpg);
  background-position: center;
  background-size: cover;

}

.login-box {
  position: relative;
  width: 400px;
  height: 650px;
  background: rgba(42, 111, 151, 0.87);
  box-shadow: 25px 29px 6px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box h2:first-child {
  font-size: 2em;
  color: #fff;
  text-align: center;
  position: relative;
  top: -110px;
}

.login-input {
  position: relative;
  width: 200px;
  padding: 20px;
  margin: auto;
}
.login-input label {
  color: #fff;
  font-size: 1.2em;
}
.login-input input {
  width: 100%;
  height: 50px;
  font-size: 15px;
  border-radius: 20px 20px 20px 20px;
  padding-left: 20px;
}

.login-input input:focus{
 outline: none;
}
.forget{
  width: 100px;
  padding-left: 50px;
  margin: auto;
  color: #fff;


}
.forget  a{
  font-size: large;
  color: #fff;
  text-decoration: none;
}
.forget  a:hover{
  text-decoration: underline;
}

button{
  margin: auto;
  position: relative;
  top: 100px;
  width: 100%;
  height: 60px;
  border-radius: 40px;
  background: rgba(1, 42, 74, 1);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}

button:hover{
  transition: all 0.5s ease-out;
  background:rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.errormsj{
  color:red;
  margin:auto;
  font-size: 20px;
  display:block;
}