* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.728), rgba(0, 0, 0, 0.728)),
    url(..//assets/img/mikhail-pavstyuk-EKy2OTRPXdw-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.login-box {
  position: relative;
  width: 400px;
  height: 650px;
  background: rgba(42, 111, 151, 0.87);
  box-shadow: 25px 29px 6px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box h2:first-child {
  font-size: 2em;
  color: #fff;
  text-align: center;
  position: relative;
  top: -110px;
}

.login-input {
  position: relative;
  width: 200px;
  padding: 20px;
  margin: auto;
}
.login-input label {
  color: #fff;
  font-size: 1.2em;
}
.login-input input {
  width: 100%;
  height: 50px;
  font-size: 15px;
  border-radius: 20px 20px 20px 20px;
  padding-left: 20px;
}

.login-input input:focus {
  outline: none;
}
.forget {
  width: 100px;
  padding-left: 50px;
  margin: auto;
  color: #fff;
}
.forget a {
  font-size: large;
  color: #fff;
  text-decoration: none;
}
.forget a:hover {
  text-decoration: underline;
}

.confirmacion {
  margin: auto;
  position: relative;
  top: 100px;
  width: 100%;
  height: 60px;
  border-radius: 40px;
  background: rgba(1, 42, 74, 1);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
}

button:hover {
  transition: all 0.5s ease-out;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.errormsj {
  color: red;
  margin: auto;
  font-size: 20px;
  display: block;
  background-color: #ffffff;
  border-radius: 20px 20px 20px 20px;
}

/* Estilos para el área del usuario y la barra de navegación */
.user-area {
  background-color: #d9d9d9;
  color: black;
  padding: 20px;
  text-align: center;
}
.user-name,
.username,
.user-profile {
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}

.user-name {
  margin-bottom: 5px;
}

.username {
  margin-bottom: 5px;
  color: black;
}

.user-profile {
  color: black;
}
/* Estilos generales de navbar-side */
.navbar-side {
  position: fixed;
  width: 15vw;
  height: 100%;
  background-color: #d9d9d9;
  top: 0;
  transition: width 0.3s;
  overflow-y: auto; /* scroll */
}

.navbar-side .icon {
  display: block;
  text-align: center;
  padding: 10px;
}

.navbar-side .logo {
  max-width: 100%;
}

.user-area {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user-name,
.user-profile,
.username {
  display: block;
  font-size: 14px;
}

/* Estilos de enlaces y listas */
.navbar-side ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar-side ul li {
  font-size: 25px;
  text-align: center;
  padding: 8px;
  position: relative;
}

.navbar-side li a {
  color: black;
  text-decoration: none;
  transition: 0.4s;
}

/* Efectos de hover */
.navbar-side ul li:hover {
  background-color: #2c7da0;
  border-radius: 20px;
}
.navbar-side ul li a:hover {
  color: #dedede;
}
.navbar-side ul li ul :hover a {
  color: #dedede;
}

/* Efecto de submenú desplegable */
.navbar-side ul li ul {
  height: 0;
  overflow: hidden;
  transition: 0.4s;
}

.navbar-side ul li:hover ul {
  height: auto;
  padding: 10px 0;
}

/* Media query para responsividad */
@media screen and (max-width: 768px) {
  .navbar-side {
    width: 100%;
    height: auto;
    position: static; /* Cambiamos a posición estática para que ocupe todo el ancho */
  }

  .navbar-side .user-area {
    border-bottom: none;
    text-align: center;
  }

  .navbar-side .user-name,
  .navbar-side .user-profile,
  .navbar-side .username {
    display: inline-block;
    margin-right: 10px;
  }

  .navbar-side ul li {
    font-size: 20px;
  }

  .navbar-side ul li ul {
    display: none;
  }

  .navbar-side ul li:hover ul {
    height: 0;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  height: 120px;
  width: 140px;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}
.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.inicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
}

.contenido {
  flex: 1;
  max-width: 60%;
  padding-right: 20px;
  text-align: center; /* Centra horizontalmente */
  margin: 0 auto; /* Agregado para centrar horizontalmente en caso de contenido más pequeño */
}

.inicio div img {
  flex: 0 0 auto;
  margin-left: 30px;
  margin-right: 50px;
}
.responsive-img {
  max-width: 100%;
  height: auto;
}
.esconder {
  display: none;
}

ul li:hover .esconder {
  display: block;
}
.objetivos > ul {
  list-style-image: url(../assets/img/icono.png);
  font-size: 2em;
  padding: 60px;
}
.objetivos p {
  font-size: 18px;
  padding: 20px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: right;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}
.inicio .menu {
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}
.inicio .menu .menu-items {
  width: 50%;
}
.inicio .menu .menu-items a {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: black;
  padding: 20px;
}
/* MODAL sin javascript */
.modal-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
/*:::Boton-Modal:::*/
.boton-modal {
  padding: 40px;
}
.boton-modal label {
  padding: 10px 15px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.boton-modal label:hover {
  background-color: #185e83;
}
/*:::Fin Boton-Modal:::*/
/*:::Ventana Modal:::*/
#btn-modal {
  display: none;
}
.container-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.666);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#btn-modal:checked ~ .container-modal {
  display: flex;
}
.content-modal {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}
.content-modal h2 {
  margin-bottom: 15px;
}
.content-modal p {
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.content-modal .btn-cerrar label {
  padding: 7px 10px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover {
  background-color: #185e83;
}
.cerrar-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 800px) {
  .content-modal {
    width: 90%;
  }
}
/*:::Fin Ventana Modal:::*/

/*:::Ventana Modal2:::*/
#btn-modal2 {
  display: none;
}
.container-modal2 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#btn-modal2:checked ~ .container-modal2 {
  display: flex;
}
/*:::Fin Ventana Modal2:::*/
#btn-modal3 {
  display: none;
}
/* modal 3 */
.container-modal3 {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#btn-modal3:checked ~ .container-modal3 {
  display: flex;
}

.tablamodal {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.tablamodal th,
.tablamodal td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.tablamodal th {
  background-color: #5488a3;
  color: #fff;
}

.tablamodal tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tablamodal td {
  background-color: #ecf0f1;
}

.tablamodal tr:hover {
  background-color: #d1d1d1;
}
.darDeBajaButton {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.darDeBajaButton img {
  vertical-align: middle;
  margin-right: 5px;
}
.editarButton {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.editarButton img {
  vertical-align: middle;
  margin-right: 5px;
}

/* Estilos del formulario */
.formulario-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  /*   border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

.formulario-submit {
  background-color: #5488a3;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 15px;
  font-size: 16px;
  text-align: center;
}

.formulario-form {
  display: flex;
  flex-direction: column;
}

.formulario-label {
  font-size: 18px;
  margin-top: 10px;
}

.formulario-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 14px;
}
.formulario-select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 5px;
  font-size: 14px;
}
.a-alta {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2c7da0;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.a-alta:hover {
  background-color: #1e5875;
  transform: scale(1.05);
}
fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

legend {
  font-weight: bold;
  font-size: 18px;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
}
.modal_container {
  margin: auto;
  width: 90%;
  background-color: #fff;
  max-width: 90%;
  max-width: 600px;
  max-height: 90%;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
}
.modal --show {
  opacity: 1;
  pointer-events: unset;
}
.modal_title {
  font-size: 3.5rem;
  background-color: red;
  color: white;
}

.modal_parrafo {
  margin-bottom: 10px;
}
.modal_img {
  width: 90%;
  max-width: 300px;
}
.modal_close {
  text-decoration: none;
  color: #fff;
  background-color: #185e83;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color 0.3s;
}
.modal_close:hover {
  color: #333;
  background-color: #fff;
}
